.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 400px;
}

.content {
  text-align: center;
}

.auth-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}

/* SignIn.css */
.sign-in-container {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sign-in-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sign-in-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.sign-in-container button {
  width: 96%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-container button:hover {
  background-color: #0056b3;
}

.sign-up-link,
.sign-in-link {
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.2s;
}

.sign-up-link:hover {
  color: #007bff;
  /* Change to your desired highlight color */
}

.sign-in-link:hover {
  color: #007bff;
  /* Change to your desired highlight color */
}